:root {
    --color-primary: #fff;
    --color-background: #26282b;
    --color-background2: #191a1c;
    --color-accent: #1e1f22;
    --color-shadow: rgba(255, 255, 255, 0.5);
    scrollbar-width: none;
}

.light_mode {
    --color-primary: #113764;
    --color-background: #fff;
    --color-shadow: rgba(0, 0, 0, 0.5);
}

body, select {
    background: var(--color-background);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1, select {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.4rem;
    list-style: none;
    text-align: center;
}

.com {
    font-size: 0.7rem;
}

select {
    border: none;
}

nav {
    margin: 0 0 0.2rem 1rem;
    display: flex;
    justify-content: left;
    gap: 2rem;
}

div {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

section {
    border-radius: 1rem;
    line-height: 1.5;
    font-size: 1.2rem;
    color: var(--color-primary);
    padding: 0.5rem 0 0 1.5rem;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
}

#editor {
    background: var(--color-accent);
    width: 70vw;
    height: 65vh;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
}

#file {
    background: var(--color-background2);
    width: 25vw;
    height: 65vh;
    padding: 0.5rem 0 0 1rem;
    color: var(--color-primary);
    line-height: 2.0;
}

#terminal {
    background: var(--color-accent);
    width: 70vw;
    height: 20vh;
    font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
}

#other {
    background: var(--color-background2);
    width: 25vw;
    height: 20vh;
    padding: 0.5rem 0 0 1rem;
}

textarea:focus {
    outline: none;
    caret-color: transparent;
}

main, footer {
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

footer {
    margin-top: 1.8vh;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.run {
    margin-top: 0.5rem;
}

.structure {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.yellow {
    color: #F1FA8C;
}

.purple {
    color: #BD93F9;
}

.hot_pink {
    color: #FF79C6;
}

.aqua {
    color: #8BE9FD;
}

.lime {
    color: #50FA7B;
}

.bold {
    font-weight: 600;
}

.dark_yellow {
    color: #FFF906;
}

.mint_green {
    color: #36FFAC;
}

.blue {
    color: #737FFF;
}

