@import "tailwindcss";

:root {
  --wallpaper: url("/icons/wallpaper.avif");
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('/fonts/LucidaGrande.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Grande Bold';
  src: url('/fonts/LucidaGrandeBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: var(--wallpaper);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@theme {
  --font-l: "Lucida Grande", sans-serif;
  --font-l-bold: "Lucida Grande Bold", sans-serif;
  --font-g: "Apple Garamond", serif;
  --breakpoint-3xl: 1920px;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply flex justify-between items-center backdrop-blur-3xl h-6 px-3 select-none; background-image: repeating-linear-gradient(
      to bottom, 
      #f8f8f8, 
      #f8f8f8 3px, 
      #e8e8e8 3px, 
      #e8e8e8 5px
    );

    div {
      @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

      &:last-child {
        @apply max-sm:hidden;
      }
    }

    ul {
      @apply flex items-center gap-5 max-sm:hidden;

      li {
        @apply text-base cursor-pointer transition-all translate-y-0.5 [text-shadow:0_2px_1px_rgba(0,0,0,0.275)];
      }
    }

    time {
      @apply text-base font-l text-black translate-y-0.5 [text-shadow:0_2px_1px_rgba(0,0,0,0.275)];
    }
  }
}

@layer components {
  .icon {
    @apply p-1 hover:bg-gray-200 rounded hover:cursor-default;
  }

  #dock {
    @apply absolute bottom-0 left-1/2 -translate-x-1/2 z-50 select-none max-sm:hidden;

    .dock-container {
      @apply justify-between p-1.5 flex items-end gap-1.5 border-t border-l border-r border-white/40;
      background-image: repeating-linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.1), 
        rgba(255, 255, 255, 0.1) 2px, 
       rgba(255, 255, 255, 0.2) 2px, 
       rgba(255, 255, 255, 0.2) 4px
      );
    }

    .tooltip {
      @apply leading-none! w-fit! text-center! text-base! rounded-md! bg-transparent! text-white! shadow-2xl! font-l-bold! [text-shadow:3px_3px_5px_rgba(0,0,0,1)];
    }

    .dock-icon {
      @apply size-16 3xl:size-20 cursor-pointer;

      img {
        @apply object-cover object-center;
      }
    }
  }

  #window-controls {
    @apply flex gap-2;

    .close {
      background: radial-gradient(circle at 30% 70%, #ffb3ad 0%, #ff5f57 40%, #d32f2f 75%, #8b1a1a 100%);
    }
  
    .minimize {
      background: radial-gradient(circle at 30% 70%, #fff3a8 0%, #ffcf4d 40%, #d4a017 75%, #8c6b00 100%);
    }

    .maximize {
      background: radial-gradient(circle at 30% 70%, #b8f5c0 0%, #3edc5c 40%, #2e8b3c 75%, #145a1f 100%);
    }

    .close, .minimize, .maximize {
      @apply size-3.5 rounded-full overflow-hidden relative z-50;
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0.5px 0 rgba(255, 255, 255, 0.3);
    }

  

    .close::after, .minimize::after, .maximize::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 2px;
      right: 2px;
      height: 45%;
      border-radius: 9999px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    }
  }

  .window-header {
    @apply flex items-center justify-between py-0.75 px-2.75 border-b border-black select-none text-sm text-black relative z-50;
    background-image: repeating-linear-gradient(
      to bottom, 
      #f0f0f0, 
      #f0f0f0 2px, 
      #e8e8e8 2px, 
      #e8e8e8 4px
    );
  }

  #welcome, #explorer, #mail, #finder, #preferences {
    @apply absolute top-32 left-1/12 shadow-2xl drop-shadow-2xl rounded-b-xs rounded-t-md overflow-hidden;
    background-image: repeating-linear-gradient(
      to bottom, 
      #e8e8e8, 
      #e8e8e8 2px, 
      #f8f8f8 2px, 
      #f8f8f8 4px
    );

    h2 {
      @apply absolute inset-x-0 text-sm text-center font-l;
    }
  }

  #welcome {
    @apply w-xs;

    .content {
      @apply text-sm py-2 px-5 flex flex-col items-center;

      li {
        @apply px-2;
      }
    }
  }

  #explorer {
    @apply w-5xl;
    
    .content {
      @apply text-sm py-2 flex flex-col items-center;

      img {
        @apply w-4/5 mb-2;
      }
    }

    .search {
      @apply w-full h-8 flex items-center px-5;
      background: linear-gradient(to bottom, #144248 0%, #3EB8C8 50%, #144248 100%);
      div {
        @apply w-7/8 h-6 bg-white border border-black mx-3 text-black flex items-center px-2 overflow-hidden;
      }
    }
  }

  #mail {
    @apply w-4xl;
  }

  #finder {
    @apply w-3xl;
    .content {
      .back {
        @apply h-5 w-10 rounded-full overflow-hidden relative z-50;
        box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0.5px 0 rgba(255, 255, 255, 0.3);
      }

      .back::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        right: 2px;
        height: 45%;
        border-radius: 9999px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      }
    }

  }

  #preferences {
    @apply w-md;
    .content {
      select {
        @apply h-8 w-16 rounded-full overflow-hidden relative z-50 appearance-none;
        box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0.5px 0 rgba(255, 255, 255, 0.3);
      }

      select::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        right: 2px;
        height: 45%;
        border-radius: 9999px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      }
    }
  }

  #quicktimeplayer {
    @apply w-[65vw] max-h-[90vh] max-w-250 min-w-87.5 min-h-62.5 overflow-hidden flex flex-col;
    .window-header {
      @apply shrink-0;
    }
  }
}